/* Forms --------------------------------------------------------------------------------------- */
fieldset {
	padding: 10px;
	border: 1px #0568CD solid;
	margin: 10px;
}

form label {
	float: left;
	width: 200px;
	margin: 3px 0px 0px 0px;
}

form input {
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
}

form input.sansLabel {
	margin-left: 200px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
	color: #c00;
}

.erreur {
	color: #900;
}

.succes {
	color: #808080;
}

.info {
	font-style: italic;
	color: #808080;
}

style type ="text /css">ul ul {
	display: none;
	position: absolute;
	left: 144px;
	top: -1px;
	margin: 0px;
	padding: 0px;
	border: 1px solid grey;
}

li {
	list-style-type: none;
	position: relative;
	width: 140px;
	background-color: #E0E0E0;
	padding: 2px;
	margin: 0px
}

li:hover {
	background-color: #171500;
}

li:hover ul.niveau2,li li:hover ul.niveau3 {
	display: block
}

li.plus {
	background-position: right;
	background-image: url(images/image.gif);
	background-repeat: no-repeat;
	border-bottom: 1px solid grey;
}

</
style>table {
	border: 1px solid red border-width:1px;
	border-style: solid;
	border-color: blue;
	border-collapse: collapse width:80%;
}

td {
	border-width: 1px;
	border-style: none;
	border-color: red;
	vertical-align: middle;
	width: 20%;
}

th,td {
	border: 1px solid #cccfcc;
	border-collapse: collapse width:20%;
}

caption {
	font-weight: bold
}

li span {
	display: table-cell;
	width: 10px;
}

.grise {
	border: 1px solid #333;
	background-color: #999;
}

.blue {
	border: 1px solid #333;
}

.none {
	border-style: none;
}

body {
	margin: 10px 0;
	padding: 0;
}

div#conteneur {
	width: 770px;
	margin: 0 auto;
	text-align: left;
}

pre {
	overflow: auto;
}

<!--
[if IE]> <style type ="text /css">html pre {
	width: 636px;
}

</
style> <! [endif]


div#conteneur {
	width: 770px;
	margin: 0 auto;
	text-align: left;
	border: 2px solid #545454;
	background: #fff;
}

h1#header {
	height: 258px;
	background: url(apple.jpg) no-repeat left top;
}

div#contenu {
	padding: 0 30px 0 100px;
	background: url(bg_page.gif) no-repeat 15px 15px;
}

div#contenu h2 {
	padding-left: 25px;
	line-height: 25px;
	font-size: 1.4em;
	background: url(little_apple.gif) no-repeat left bottom;
	color: #9b2;
	border-bottom: 1px solid #545454;
}

div#contenu h3 {
	margin-left: 15px;
	padding-left: 5px;
	border-bottom: 1px solid #545454;
	border-left: 3px solid #545454;
	color: #9b2;
}

div#contenu p {
	text-align: justify;
	text-indent: 2em;
	line-height: 1.7em;
}

div#contenu a {
	color: #545454;
}

div#contenu a:hover {
	color: #545454;
}

p#footer {
	margin: 0;
	padding-right: 10px;
	line-height: 30px;
	text-align: right;
	color: #545454;
}

pre {
	overflow: auto;
	border: 2px solid #545454;
	padding: 5px 0 0 5px;
	font-size: 1.2em;
}

pre span {
	color: #545454;
}

pre span.comment {
	color: #b30000;
}

body {
	margin: 10px 0;
	padding: 0;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif;
}

div#conteneur {
	width: 770px;
	margin: 0 auto;
	text-align: left;
	border: 2px solid #999;
	background: #fff;
}

h1#header {
	height: 258px;
	background: url(apple.jpg) no-repeat left top;
	margin: 0;
}

h1#header a {
	width: 400px;
	height: 70px;
	display: block;
	background: url(title.gif) no-repeat;
	position: relative;
	left: 350px;
	top: 15px;
	text-indent: -5000px;
}

ul#menu {
	height: 35px;
	margin: 0;
	padding: 0;
	background: url(bg_menu.gif) repeat-x 0 -25px;
	list-style-type: none;
}

ul#menu li {
	float: left;
	text-align: center;
}

ul#menu li a {
	width: 130px;
	line-height: 25px;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 2px;
	color: #fff;
	display: block;
	text-decoration: none;
}

ul#menu li a:hover {
	background: url(bg_menu.gif) repeat-x 0 0;
}

div#contenu {
	padding: 0 25px 0 100px;
	background: url(bg_page.gif) no-repeat 15px 15px;
}

div#contenu h2 {
	padding-left: 25px;
	line-height: 25px;
	font-size: 1.4em;
	background: url(little_apple.gif) no-repeat left bottom;
	color: #9b2;
	border-bottom: 1px solid #9b2;
}

div#contenu h3 {
	margin-left: 15px;
	padding-left: 5px;
	border-bottom: 1px solid #9b2;
	border-left: 3px solid #9b2;
	color: #9b2;
}

div#contenu p {
	text-align: justify;
	text-indent: 2em;
	line-height: 1.7em;
}

div#contenu a {
	color: #545454;
}

div#contenu a:hover {
	color: #545454;
}

p#footer {
	margin: 0;
	padding-right: 10px;
	line-height: 30px;
	text-align: right;
	color: #545454;
}

pre {
	overflow: auto;
	border: 2px solid #545454;
	padding: 5px 0 0 5px;
	font-size: 1.2em;
}

pre span {
	color: #545454;
}

pre span.comment {
	color: #b30000;
}
/* Général ------------------------------------------------------------------------------------- */
body,p,legend,label,input {
	font: normal 8pt verdana, helvetica, sans-serif;
}

fieldset {
	padding: 10px;
	border: 1px #333 solid;
}

legend {
	font-weight: bold;
	color: #333;
}

/* Forms --------------------------------------------------------------------------------------- */
form label {
	float: left;
	width: 200px;
	margin: 3px 0px 0px 0px;
}

form input {
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
}

form input.sansLabel {
	margin-left: 200px;
}

form .requis {
	color: #c00;
}

form .erreur {
	color: #900;
}

form .succes {
	color: #808080;
}

/* Tableaux -------------------------------------------------------------------------------------*/
table {
	border-collapse: collapse;
}

tr.pair {
	background-color: #efefef;
}

tr.impair {
	background-color: #fff;
}

th {
	color: #0568CD;
	border: 1px solid #0568CD;
	padding: 5px;
}

th.action {
	border: 1px solid #900;
	color: #900;
}

td {
	border: 1px solid #ddd;
	padding: 5px;
}

td.action {
	text-align: center;
}