<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>appciip</display-name>

	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>PrechargementFilter</filter-name>
		<filter-class>ch.appciip.filter.PrechargementFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrechargementFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>ch.appciip.config.Initialisation</listener-class>
	</listener>

	<servlet>
		<servlet-name>CreateManifestation</servlet-name>
		<servlet-class>ch.appciip.servlet.CreateManifestation</servlet-class>
		<init-param>
			<param-name>chemin</param-name>
			<param-value>/fichiers/images/</param-value>
		</init-param>
		<multipart-config>
			<location>c:/fichiers/images</location>
			<max-file-size>2097152</max-file-size>
			<max-request-size>10485760</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet>
		<servlet-name>Image</servlet-name>
		<servlet-class>ch.appciip.servlet.Image</servlet-class>
		<init-param>
			<param-name>chemin</param-name>
			<param-value>/fichiers/images/</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- Register resources and providers under appciip package. -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>ch.appciip</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreateManifestation</servlet-name>
		<url-pattern>/createManifestation</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Image</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>

</web-app>